# LAB 2

## Podstawowe elementy biblioteki Pandas (Data Frame)

In [101]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://sebkaz.github.io/teaching/PrzetwarzanieDanych/data/polish_names.csv")

In [102]:
df

           name gender
0         Abdon      m
1          Abel      m
2     Abercjusz      m
3       Abraham      m
4       Absalon      m
...         ...    ...
1700  Zbigniewa      f
1701   Zygfryda      f
1702   Hermenia      f
1703     Hermes      m
1704    Humbert      m

[1705 rows x 2 columns]

In [103]:
#models
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

#success metric
from sklearn.metrics import accuracy_score 

import matplotlib.pyplot as plt
%matplotlib inline

In [104]:
df.head(7)

        name gender
0      Abdon      m
1       Abel      m
2  Abercjusz      m
3    Abraham      m
4    Absalon      m
5  Achacjusz      m
6     Achacy      m

In [105]:
# df elements
index = df.index
col = df.columns
val = df.values

In [106]:
type(index)

pandas.core.indexes.range.RangeIndex

In [107]:
type(col)

pandas.core.indexes.base.Index

In [108]:
type(val)

numpy.ndarray

In [109]:
col

Index(['name', 'gender'], dtype='object')

In [110]:
val

array([['Abdon', 'm'],
       ['Abel', 'm'],
       ['Abercjusz', 'm'],
       ...,
       ['Hermenia', 'f'],
       ['Hermes', 'm'],
       ['Humbert', 'm']], dtype=object)

In [111]:
df.dtypes

name      object
gender    object
dtype: object

In [112]:
df.count()

name      1705
gender    1705
dtype: int64

In [113]:
df.dtypes.value_counts()

object    2
dtype: int64

In [114]:
# select single column
df['name'].head()

0        Abdon
1         Abel
2    Abercjusz
3      Abraham
4      Absalon
Name: name, dtype: object

In [115]:
type(df.name)

pandas.core.series.Series

In [116]:
a = df["gender"]

In [117]:
a.name

'gender'

In [118]:
type(a.to_frame())

pandas.core.frame.DataFrame

In [119]:
a.value_counts()

m    1033
f     672
Name: gender, dtype: int64

In [120]:
print(a.size)
a.shape

1705

(1705,)

In [121]:
df.describe()

          name gender
count     1705   1705
unique    1705      2
top     Renata      m
freq         1   1033

In [122]:
df.isnull().any()

name      False
gender    False
dtype: bool

In [123]:
df.notnull().any()

name      True
gender    True
dtype: bool

In [124]:
a.value_counts(normalize=True)

m    0.605865
f    0.394135
Name: gender, dtype: float64

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1705 non-null   object
 1   gender  1705 non-null   object
dtypes: object(2)
memory usage: 26.8+ KB

In [126]:
df.gender.value_counts()

m    1033
f     672
Name: gender, dtype: int64

In [127]:
df.sample(5)

          name gender
1666    Miriam      f
1564  Żelisław      m
1217   Salomon      m
98      Anzelm      m
1312   Sylwana      f

In [128]:
def string_into_number(string):
    return int(string =='m')

In [129]:
df['gender'].head().map( string_into_number )

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [130]:
df['target'] = df['gender'].map( lambda x: int(x == 'm') )

In [131]:
df.sample(10)

            name gender  target
591     Grzegorz      m       1
1257    Siemowit      m       1
211       Bohusz      m       1
535        Galla      f       0
39         Alban      m       1
1412      Wacław      m       1
1460    Wilibald      m       1
1209    Rygobert      m       1
48    Aleksander      m       1
620         Irma      f       0

In [132]:
df

           name gender  target
0         Abdon      m       1
1          Abel      m       1
2     Abercjusz      m       1
3       Abraham      m       1
4       Absalon      m       1
...         ...    ...     ...
1700  Zbigniewa      f       0
1701   Zygfryda      f       0
1702   Hermenia      f       0
1703     Hermes      m       1
1704    Humbert      m       1

[1705 rows x 3 columns]

In [134]:
df['len_name'] = df['name'].map( lambda y: len(y) )
df['last_letter'] = df['name'].map( lambda y: y[-1] )

In [135]:
df.head()

        name gender  target  len_name last_letter
0      Abdon      m       1         5           n
1       Abel      m       1         4           l
2  Abercjusz      m       1         9           z
3    Abraham      m       1         7           m
4    Absalon      m       1         7           n

In [136]:
X = df[ ['len_name'] ].values
y = df['target'].values

In [137]:
model = DummyClassifier()

In [138]:
model.fit(X,y)

/home/pz/Documents/projects/statystyka/venv/lib/python3.6/site-packages/sklearn/dummy.py:132: FutureWarning: The default value of strategy will change from stratified to prior in 0.24.
  "stratified to prior in 0.24.", FutureWarning)

DummyClassifier(constant=None, random_state=None, strategy='warn')

In [139]:
y_pred = model.predict(X)

In [140]:
accuracy_score(y,y_pred)

0.5489736070381231

In [141]:
model2 = LogisticRegression()
model2.fit(X,y)
y_pred_lr = model2.predict(X)
accuracy_score(y,y_pred_lr)

0.6058651026392962

In [142]:
model2

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [96]:
model2.coef_, model2.intercept_

(array([[0.04134029]]), array([0.13270569]))

In [143]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split

In [ ]:
def.pop()
X = df

model_3 = RandomForestClassifier(n_estimators=100)
model_3.fit(X,y)
y_pred_rfc = clf.predict(X)

In [97]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=1)
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
dtc.score(X_test, y_test)

0.61328125

&gt;&gt;&gt; Dodaj nowe zmienne i Określ, który model spawuje się najlepiej.

In [98]:
from sklearn import datasets
import pandas as pd
X,y = datasets.make_classification(n_samples=10**5, n_features=25, random_state=123)
print(X.shape)
# Data Frame
names = []
for el in range(25):
    names.append("zm"+str(el+1))
df = pd.DataFrame(X, columns=names)
df['target'] = y

(100000, 25)

In [46]:
df.head()

,zm1,zm2,zm3,zm4,zm5,zm6,zm7,zm8,zm9,zm10,...,zm17,zm18,zm19,zm20,zm21,zm22,zm23,zm24,zm25,target
0,0.520028,1.487377,1.010624,0.908557,-1.252748,-0.078171,0.088081,-0.299421,0.324214,0.210402,...,-1.253029,-1.360686,-0.043009,1.207864,-0.915878,-0.007086,2.596455,-0.226971,0.083085,0
1,-1.436475,0.127512,-1.030532,-1.351584,0.214246,0.255031,-0.878427,-0.069920,0.916208,-0.640942,...,0.919535,-0.323136,-0.015038,0.491420,0.501903,-1.967996,-0.079956,1.216065,1.321628,1
2,-1.363072,-0.038222,-1.962476,0.316078,-0.320281,0.752335,-0.573027,-0.252427,0.469437,0.733830,...,1.404460,0.132874,-1.226486,-0.581425,1.332854,-0.368892,-0.174069,-0.178903,-0.398478,1
3,-0.049035,-0.022915,-0.973416,0.584077,2.999194,0.147347,0.349103,-0.848294,0.188375,-0.484153,...,2.170452,1.906382,-1.585981,-0.654063,-0.457368,1.166076,-0.250228,-0.298855,-0.190531,1
4,0.024563,-0.127516,1.307615,1.632384,-0.606567,-0.330365,-2.229916,0.944459,-0.201620,0.353420,...,-0.038004,0.543702,0.197797,1.410765,0.156641,0.427402,1.316993,0.628969,-0.010482,1

In [47]:
model2 = LogisticRegression()
model2.fit(X,y)
y_pred_lr = model2.predict(X)
accuracy_score(y,y_pred_lr)

0.93039

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=1)
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
dtc.score(X_test, y_test)
y_pred_dtc = dtc.predict(X_test)
accuracy_score(y_test,y_pred_dtc)

0.9043

In [49]:
!pip install Advanced-scorecard-builder

Collecting Advanced-scorecard-builder
  Downloading https://files.pythonhosted.org/packages/99/ae/9fd484236e3fb3a7a586462ae7b141b6c36ac68afd14a83a3aa787c3286a/advanced_scorecard_builder-1.0.2-py3-none-any.whl
Requirement already satisfied: pandas>=0.19.2 in ./venv/lib/python3.6/site-packages (from Advanced-scorecard-builder)
Collecting regressors (from Advanced-scorecard-builder)
  Downloading https://files.pythonhosted.org/packages/80/5d/bacfcf2b3865305156e2507ed9a968cb6c7f326cad1d1720e60f80d02797/regressors-0.0.3.tar.gz
Requirement already satisfied: numpy>=1.11.3 in ./venv/lib/python3.6/site-packages (from Advanced-scorecard-builder)
Requirement already satisfied: matplotlib>=2.0.0 in ./venv/lib/python3.6/site-packages (from Advanced-scorecard-builder)
Requirement already satisfied: pytz>=2017.2 in ./venv/lib/python3.6/site-packages (from pandas>=0.19.2->Advanced-scorecard-builder)
Requirement already satisfied: python-dateutil>=2.6.1 in ./venv/lib/python3.6/site-packages (from pandas>=0.19.2->Advanced-scorecard-builder)
Requirement already satisfied: scikit-learn>=0.17 in ./venv/lib/python3.6/site-packages (from regressors->Advanced-scorecard-builder)
Requirement already satisfied: scipy>=0.9 in ./venv/lib/python3.6/site-packages (from regressors->Advanced-scorecard-builder)
Collecting seaborn (from regressors->Advanced-scorecard-builder)
  Downloading https://files.pythonhosted.org/packages/c7/e6/54aaaafd0b87f51dfba92ba73da94151aa3bc179e5fe88fc5dfb3038e860/seaborn-0.10.1-py3-none-any.whl (215kB)
    100% |████████████████████████████████| 225kB 2.0MB/s ta 0:00:01
Collecting statsmodels>=0.6.1 (from regressors->Advanced-scorecard-builder)
  Downloading https://files.pythonhosted.org/packages/cb/83/540fd83238a18abe6c2d280fa8e489ac5fcefa1f370f0ca1acd16ae1b860/statsmodels-0.11.1-cp36-cp36m-manylinux1_x86_64.whl (8.7MB)
    100% |████████████████████████████████| 8.7MB 195kB/s ta 0:00:011
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.0.0->Advanced-scorecard-builder)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.0.0->Advanced-scorecard-builder)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.0.0->Advanced-scorecard-builder)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.19.2->Advanced-scorecard-builder)
Requirement already satisfied: joblib>=0.11 in ./venv/lib/python3.6/site-packages (from scikit-learn>=0.17->regressors->Advanced-scorecard-builder)
Collecting patsy>=0.5 (from statsmodels>=0.6.1->regressors->Advanced-scorecard-builder)
  Downloading https://files.pythonhosted.org/packages/ea/0c/5f61f1a3d4385d6bf83b83ea495068857ff8dfb89e74824c6e9eb63286d8/patsy-0.5.1-py2.py3-none-any.whl (231kB)
    100% |████████████████████████████████| 235kB 5.6MB/s eta 0:00:01
Requirement already satisfied: setuptools in ./venv/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->Advanced-scorecard-builder)
Building wheels for collected packages: regressors
  Running setup.py bdist_wheel for regressors ... error
  Complete output from command /home/pz/Documents/projects/statystyka/venv/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-t9_xmej0/regressors/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmpwstrmgxupip-wheel- --python-tag cp36:
  usage: -c [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
     or: -c --help [cmd1 cmd2 ...]
     or: -c --help-commands
     or: -c cmd --help

  error: invalid command 'bdist_wheel'

  ----------------------------------------
  Failed building wheel for regressors
  Running setup.py clean for regressors
Failed to build regressors
Installing collected packages: seaborn, patsy, statsmodels, regressors, Advanced-scorecard-builder
  Running setup.py install for regressors ... done
Successfully installed Advanced-scorecard-builder-1.0.2 patsy-0.5.1 regressors-0.0.3 seaborn-0.10.1 statsmodels-0.11.1

In [50]:
from AmaFree import AdvancedScorecardBuilder as asb

In [51]:
model3= asb(df,'target')
# fit your model
model3.fit()
# get model informations
model3.model_info_

zm1
zm2
zm3
zm4
zm5
zm6
zm7
zm8
zm9
zm10
zm11
zm12
zm13
zm14
zm15
zm16
zm17
zm18
zm19
zm20
zm21
zm22
zm23
zm24
zm25

{'coef': {'zm13': 0.9043221862281265,
  'zm14': 0.5071712842210173,
  'zm17': 0.45244987847022505},
 'p_value': {'zm13': 0.0, 'zm14': 0.0, 'zm17': 0.0},
 'features': ['zm13', 'zm14', 'zm17'],
 'model': 'LogisticRegressionCV',
 'gini': 0.954595171744715,
 'acc': 0.9325666666666667,
 'Precision': 0.9284910282725286,
 'Recall': 0.9369905118268075,
 'F1': 0.9327214074295787,
 'intercept': array([0.24059008])}

In [52]:
model3.get_scorecard()

                               label variable  score
0             -0.122 < zm13 <= 0.255     zm13     50
1                       0.255 < zm13     zm13    106
2   (not missing) and zm13 <= -0.305     zm13    135
3            -0.305 < zm13 <= -0.122     zm13    174
4            -0.713 < zm14 <= -0.294     zm14     50
5                       0.201 < zm14     zm14     75
6   (not missing) and zm14 <= -0.713     zm14     96
7             -0.294 < zm14 <= 0.201     zm14    144
8             -0.176 < zm17 <= 0.402     zm17     50
9            -0.554 < zm17 <= -0.176     zm17     76
10                      0.402 < zm17     zm17     98
11  (not missing) and zm17 <= -0.554     zm17    139